@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #AAFF00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
}

.hard-shadow {
  box-shadow: 4px 4px 0px #000000;
}

.hard-shadow-accent {
  box-shadow: 4px 4px 0px #AAFF00;
}

.hard-shadow-lg {
  box-shadow: 6px 6px 0px #000000;
}
